<div class="box">
  <div class="columns is-multiline is-gapless">
    <div class="column is-12 has-text-left">
      <p class="is-size-4 has-text-weight-bold"> {{ pizza.name }} </p>
    </div>
    <div class="column is-12">
      <p class="is-size-5"> {{ pizza.description }} </p>
    </div>
    <div class="column is-6 has-text-left">
      <p class="is-size-4 has-text-weight-bold"> Price: {{ pizza.price }} kr</p>
    </div>
    <div class="column is-6 has-text-right">
      <a class="button is-text" (click)="AddToCart()">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      </a>
    </div>
  </div>
</div>
