<section class="hero is-fullheight">

  <div class="hero-head">
    <app-header></app-header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered is-fluid">
      <div class="columns is-multiline">
        <div class="column is-12-tablet is-8-desktop is-paddingless">
          <div class="notification is-paddingless">
            <h1 class="title is-1"> Ivan's Pizzaria's Menu </h1>
          </div>
        </div>
        <div class="column is-hidden-touch is-paddingless">
          <div class="notification is-paddingless">
            <h1 class="title is-1"> Order </h1>
          </div>
        </div>
        <div class="column is-12-tablet is-8-desktop">
            <section class="hero is-large element">
              <app-menu></app-menu>
            </section>
          </div>
          <div class="column is-hidden-touch is-4-desktop">
            <section class="hero is-large element">
              <app-cart></app-cart>
            </section>
          </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <app-footer></app-footer>
  </div>

</section>
